.text-red {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.center {
  text-align: center;
}

.ul {
  list-style-position: inside;
}

.text-blue {
  color: blue;
}

.text-sarı {
  color: rgb(193, 193, 18);
}

.body {
  background-color: rgb(219, 215, 215);
}

.boyutlandırma img {
  max-width: 250px;
  height: auto;
}

.font {
  font-family: "Roboto", sans-serif;
}
